@use "../base/variables";

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--blue);
  padding-block: 20px;

  .burger-menu {
    display: flex;
    align-items: center;

    nav {
      ul {
        display: flex;
        gap: 40px;
        border-bottom: 2px solid var(--white);

        li a {
          color: var(--white);
          font-size: 18px;
          line-height: 21.78px;

          &.this-page {
            border-bottom: 2px solid var(--red);
          }
        }
      }
    }
    .menu{
      width: 80px;
      height: 80px;
      position: relative;
      transition-duration: 1s;
      display: none;
      margin: 40px;
      cursor: pointer;

      .icon{
        height: 10px;
        width: 50px;
        top: 30px;
        background-color: var(--white);
        border-radius: 20px;
        position: absolute;
        transition-duration: 0.5s;
        transition-delay: 0.5s;
    
        &:before{
          left: 0;
          position: absolute;
          top: -15px;
          height: 10px;
          width: 50px;
          background-color: var(--white);
          content: "";
          border-radius: 20px;
          transition: transform 0.5s, top 0.5s 0.5s;
        }
    
        &:after{
          left: 0;
          position: absolute;
          top: 15px;
          height: 10px;
          width: 50px;
          background-color: var(--white);
          content: "";
          border-radius: 20px;
          transition: transform 0.5s, top 0.5s 0.5s;
        }
      }
    }
    .menu.open{
      .icon{
        transition-duration: 0.1s;
        transition-delay: 0.5s;
        background: transparent;

        &::before{
          transition: top 0.5s, transform 0.5s 0.5s;
          top: 0px;
          transform: rotateZ(-45deg);
        }
        &::after{
          transition: top 0.4s, transform 0.5s 0.5s;
          top: 0px;
          transform: rotateZ(45deg); 
        }
      }
    }
  }
}
