@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* :is(::before, ::after) {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
}

a,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 10px auto;
}

.hidden {
  display: none;
}

:root {
  --blue: rgba(84, 122, 255, 1);
  --white: #fff;
  --red: rgba(255, 102, 102, 1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blue);
  padding-block: 20px;
}
header .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .burger-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}
header .burger-menu nav ul li a {
  color: var(--white);
  font-size: 18px;
  line-height: 21.78px;
  border-bottom: 2px var(--red);
}