@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
* :is(::before, ::after) {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

html {
  scrollbar-gutter: stable;
  overflow-x: hidden;
}

a,
button,
input,
select,
textarea {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
}

.container {
  max-width: 1440px;
  margin: 10px auto;
  padding: 0 20px;
}

.hidden {
  display: none;
}

:root {
  --blue: rgba(84, 122, 255, 1);
  --white: #fff;
  --red: rgba(255, 102, 102, 1);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--blue);
  padding-block: 20px;
}
header .burger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header .burger-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  border-bottom: 2px solid var(--white);
}
header .burger-menu nav ul li a {
  color: var(--white);
  font-size: 18px;
  line-height: 21.78px;
}
header .burger-menu nav ul li a.this-page {
  border-bottom: 2px solid var(--red);
}
header .burger-menu .menu {
  width: 80px;
  height: 80px;
  position: relative;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  display: none;
  margin: 40px;
  cursor: pointer;
}
header .burger-menu .menu .icon {
  height: 10px;
  width: 50px;
  top: 30px;
  background-color: var(--white);
  border-radius: 20px;
  position: absolute;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
header .burger-menu .menu .icon:before {
  left: 0;
  position: absolute;
  top: -15px;
  height: 10px;
  width: 50px;
  background-color: var(--white);
  content: "";
  border-radius: 20px;
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s, -webkit-transform 0.5s;
}
header .burger-menu .menu .icon:after {
  left: 0;
  position: absolute;
  top: 15px;
  height: 10px;
  width: 50px;
  background-color: var(--white);
  content: "";
  border-radius: 20px;
  -webkit-transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: top 0.5s 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s;
  transition: transform 0.5s, top 0.5s 0.5s, -webkit-transform 0.5s;
}
header .burger-menu .menu.open .icon {
  -webkit-transition-duration: 0.1s;
          transition-duration: 0.1s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  background: transparent;
}
header .burger-menu .menu.open .icon::before {
  -webkit-transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, -webkit-transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s;
  transition: top 0.5s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0px;
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
header .burger-menu .menu.open .icon::after {
  -webkit-transition: top 0.4s, -webkit-transform 0.5s 0.5s;
  transition: top 0.4s, -webkit-transform 0.5s 0.5s;
  transition: top 0.4s, transform 0.5s 0.5s;
  transition: top 0.4s, transform 0.5s 0.5s, -webkit-transform 0.5s 0.5s;
  top: 0px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}