doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block head
    body 
        .wraper
            include ../moduls/_header

            block content

            include ../moduls/_footer
        noscript Включите пожалуйста JavaScript в настройках, иначе сайт будет работать некорректно
        block js