doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title -
        block head
    body 
        .wraper
            include ../moduls/_header

            block content

            include ../moduls/_footer

        block js