<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body> 
    <div class="wraper">
      <header>
        <section class="logo"> <img src="../static/img/logo.svg" alt=""></section>
        <div class="burger-menu"> 
          <nav> 
            <ul>
              <li> <a class="this-page" href="#">Расписание</a></li>
              <li> <a class="this-page" href="#">Афиша</a></li>
              <li> <a class="this-page" href="#">О кинотеатре</a></li>
            </ul>
          </nav>
          <div class="burger-btn">
            <input id="bur" type="checkbox" name="">
            <label class="burger burger_top" for="bur"> </label>
            <label class="burger burger_center" for="bur"></label>
            <label class="burger burger_bottom" for="bur"></label>
          </div>
        </div>
      </header>
      <main></main>
      <footer></footer>
    </div>
    <script src="../static/js/burger-menu.js"> </script>
  </body>
</html>