<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body> 
    <div class="wraper">
      <header>
        <section class="logo"> <a href="/index"> <img src="../static/img/logo.svg" alt=""></a></section>
        <div class="burger-menu"> 
          <nav> 
            <ul>
              <li> <a class="this-page" href="#">Расписание</a></li>
              <li> <a class="this-page" href="#">Афиша</a></li>
              <li> <a class="this-page" href="#">О кинотеатре</a></li>
            </ul>
          </nav>
          <div class="burger menu"> 
            <div class="icon"></div>
          </div>
        </div>
      </header>
      <main>
        <article class="title"> 
          <div class="container"> 
            <h1>Расписание сеансов кинотеатра</h1>
          </div>
        </article>
        <section class="times"> 
          <div class="container">
            <div class="time">
              <h3>00:00</h3>
              <h4>сегодня</h4>
            </div>
            <div class="time">
              <h3>00:00</h3>
              <h4>завтра</h4>
            </div>
            <div class="time">
              <h3>00:00</h3>
              <h4>день недели</h4>
            </div>
          </div>
        </section>
        <sectiion class="kines"> 
          <div class="container"> 
            <div class="kino"> 
              <div class="kino__left"> <img src="" alt="" data-kin="2D">
                <div class="text"> 
                  <h1>Название</h1>
                  <p>Жанр</p>
                  <p>
                     Продолжительность :  <span>Время</span></p>
                  <button class="btn btn_see-seans" disabled>Посмотреть сеансы</button>
                </div>
              </div>
              <div class="kino__right"> 
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
              </div>
            </div>
            <div class="kino"> 
              <div class="kino__left"> <img src="" alt="" data-kin="3D">
                <div class="text"> 
                  <h1>Название</h1>
                  <p>Жанр</p>
                  <p>
                     Продолжительность :  <span>Время</span></p>
                  <button class="btn btn_see-seans" disabled>Посмотреть сеансы</button>
                </div>
              </div>
              <div class="kino__right"> 
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
              </div>
            </div>
            <div class="kino"> 
              <div class="kino__left"> <img src="" alt="" data-kin="3D">
                <div class="text"> 
                  <h1>Название</h1>
                  <p>Жанр</p>
                  <p>
                     Продолжительность :  <span>Время</span></p>
                  <button class="btn btn_see-seans" disabled>Посмотреть сеансы</button>
                </div>
              </div>
              <div class="kino__right"> 
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
                <div>
                  <button class="btn btn_time-kino">00:00</button>
                  <p>Цена</p>
                </div>
              </div>
            </div>
          </div>
        </sectiion>
      </main>
      <footer></footer>
    </div>
    <noscript>Включите пожалуйста JavaScript в настройках, иначе сайт будет работать некорректно</noscript>
    <script src="../static/js/burger-menu.js"></script>
  </body>
</html>