<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>-</title>
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <body> 
    <div class="wraper">
      <header>
        <section class="logo"> <a href="/index"> <img src="../static/img/logo.svg" alt=""></a></section>
        <div class="burger-menu"> 
          <nav> 
            <ul>
              <li> <a class="this-page" href="#">Расписание</a></li>
              <li> <a class="this-page" href="#">Афиша</a></li>
              <li> <a class="this-page" href="#">О кинотеатре</a></li>
            </ul>
          </nav>
          <div class="burger menu"> 
            <div class="icon"></div>
          </div>
        </div>
      </header>
      <main>
        <div class="container"> </div>
      </main>
      <footer></footer>
    </div>
    <noscript>Включите пожалуйста JavaScript в настройках, иначе сайт будет работать некорректно</noscript>
    <script src="../static/js/burger-menu.js"> </script>
  </body>
</html>